<a href="{{{ url }}}">
    <span class="icon icon--large">
        <svg class="icon" viewBox="0 0 16 16"><use xmlns:xlink="//www.w3.org/1999/xlink" xlink:href="./source/img/sprites.svg#{{ icon }}"></use></svg>
    </span>
</a>