<!DOCTYPE html>
<html lang="en">
  {{> head }}
<body>
    
  <div class="page-content">
    <div class="wrapper">
      <div class="profile__container">
        <div class="profile__content">
          <img class="profile--image" src="./source/img/me.jpg" />
          {{ #data.icons }}
            {{> icon }}
          {{ /data.icons }}
        </div>
        <h1 class="text--title text--center">{{ data.name }}</h1>
      </div>

      <br />
      {{ #data.bio }}
        <p>{{ p }}</p>
      {{ /data.bio }}

      <h2>Projects</h2>

      <ul>
        {{ #data.projects }}
          {{> list-item }}
        {{ /data.projects }}
      </ul>

    </div>
  </div>
</body>
</html>
